*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: lighter;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #ff0037, #00aaff);
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: yellow;
  width: 400px;
  font-size: 0; /* 消除子元素button之间的间距 */
}

.output {
  width: 100%;
  height: 150px;
  background-color: rgba(41, 41, 41, 1);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .current-operand {
  color: white;
  font-size: 4rem;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2rem;
}

.calculator > button {
  width: 25%;
  height: 100px;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(142, 142, 142, 1);
  outline: none;
  background-color: rgba(224, 224, 224, 1);
}

.calculator > button.operator,
.calculator > button.equals {
  color: white;
  background-color: rgba(247, 149, 46, 1);
}

.calculator > button.operator:hover,
.calculator > button.equals:hover {
  background-color: rgba(247, 149, 46, 0.7);
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator > button.span-two {
  width: 50%;
}
